*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
p {
    position: relative;
    width: fit-content;
    background-color: green;
}
p::before {
    position: absolute;
    top: 100%;
    content: '';
    width: 100%;
    height: 3px;
    background-color: aqua;
}